.content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #fff;

  .search {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 25px;

    .serachBar {
      background-color: #fff;
    }

    :global(.am-search-value) {
      background-color: rgba(225, 225, 225, 0.5);
    }
  }

  .list {
    height: calc(100% - 69px);
    width: 100%;
    overflow-y: auto;

    :global(.am-list-extra) {
      line-height: 0;
      color: #108ee9;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      font-size: 14px;

      .listChecked {
        color: #108ee9;
      }
    }
  }
}
